@model IEnumerable<MovieSystem.Web.Models.DirectorModels.DirectorViewModel>

@{
    ViewData["Title"] = "List of Directros";
}

<h1>List of Directors</h1>

<p>
    <a asp-action="AddDirector">Add New Director</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditDirector" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DeleteDirector" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
