@model MovieSystem.Web.Models.ProducingCompanyModels.ProducingCompanyCreateModel

@{
    ViewData["Title"] = "Add Producing Company";
}

<h1>Create new Producing Company</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfEstablishment" class="control-label">Date of Establishment</label>
                <input asp-for="DateOfEstablishment" class="form-control" />
                <span asp-validation-for="DateOfEstablishment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllCompanies">List of Publishing Companies</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
